                    <form action="{% url 'save-nuevo-usuario' %}" method="post">
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="formGroupExampleInput">Nombre</label>
                        <input type="text" name="nombre" class="form-control" id="formGroupExampleInput" placeholder="Nombre" required>
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput2">Apellido</label>
                        <input type="text" name="apellido" class="form-control" id="formGroupExampleInput2" placeholder="Apellido" required>
                      </div>
                      <div>
                        <label for="formGroupExampleInput2">Edad</label>
                        <input type="text" name="edad" class="form-control" id="formGroupExampleInput2" placeholder="Edad" required>
                      </div>
                      <p></p>
                        <button type="submit" class="btn btn-primary mb-2">Crear</button>
                    </form>
 
