<form action="{% url 'editar-usuario-guardar' %}" method="post">
                        {% csrf_token %}
                       <div class="form-group">
                        <input type="hidden" name="id" value={{ id }} class="form-control" id="formGroupExampleInput" placeholder="ID" required>
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Nombre</label>
                        <input type="text" name="nombre" value={{nombre}} class="form-control" id="formGroupExampleInput" placeholder="Nombre" required>
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput2">Apellido</label>
                        <input type="text" name="apellido" value={{apellido}} class="form-control" id="formGroupExampleInput2" placeholder="Apellido" required>
                      </div>
                      <div>
                        <label for="formGroupExampleInput2">Edad</label>
                        <input type="text" name="edad" value={{edad}} class="form-control" id="formGroupExampleInput2" placeholder="Edad" required>
                      </div>
                      <p></p>
                        <button type="submit" class="btn btn-primary mb-2">Crear</button>
                    </form>
 
