{% load static %}


<html>
    <head>
        <link rel="stylesheet" href="{% static '/vendor/bootstrap4/bootstrap.min.css' %}">
   </head>

    <body>
        <div class="container">
            <h1>Listado de Personas</h1>

            <a class="btn btn-primary" href="{% url 'nuevo-usuario' %}" role="button">Agregar</a>
            <p>
            <div class="card">
                <div class="card-header">Personas</div>
                <div class="card-body">
                
                    <form method="post">
                        {% csrf_token %}
                         <input type="text" name="busqueda" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Ingrese un texto a buscar">
                        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                    </form>
                

                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in Personas %}
                        <tr>
                            <td>{{ i.nombre }} </td>
                            <td>{{ i.apellido }}</td>
                            <td>{{ i.edad }}</td>
                            <td><a class="btn btn-primary" href="{% url 'editar-usuario' i.id %}" role="button">Editar</a></td>
                            <td><button value="{{ i.id }}" class="btn btn-danger boton_eliminar" role="button">Eliminar</button></td>
                        </tr>
                     {% endfor %}
                      </tbody>
                </table>
                </div>
            </div>
        </div>
       
        <div id="load"></div>
               <!-- javascript load -->
        <script src="{% static '/vendor/bootstrap4/bootstrap.min.js' %}"></script>
        <script src="{% static '/vendor/jquery/jquery-3.4.1.slim.min.js' %}"></script>
        <script src="{% static '/vendor/popper/popper.min.js' %}"></script>
        <script src="{% static '/root/eliminar_usuario.js' %}"></script>
    </body>
</html>
