{% load static %}


<html>
    <head>
        <link rel="stylesheet" href="{% static '/vendor/bootstrap4/bootstrap.min.css' %}">
   </head>

    <body>
        <div class="container">
            <h1>{{ title }} usuario</h1>

            <a class="btn btn-primary" href="{% url 'nuevo-usuario' %}" role="button">Agregar</a>
            <p>
            <div class="card">
                <div class="card-header">Personas</div>
                <div class="card-body">

                    {% if editar %}
                        {% include 'form_actualiza_usuario.html' %}
                    {% else %}
                        {% include 'form_agrega_usuario.html' %}
                   {% endif %}

                </div>
            </div>
        </div>
               <!-- javascript load -->
        <script src="{% static '/vendor/bootstrap4/bootstrap.min.js' %}"></script>
        <script src="{% static '/vendor/jquery/jquery-3.4.1.slim.min.js' %}"></script>
        <script src="{% static '/vendor/popper/popper.min.js' %}"></script>
    </body>
</html>
